<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>编辑用户</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/style/admin.css" media="all">
  <style>
    form{
      padding-right:15px ;
    }
  </style>
</head>
<body>
<form class="layui-form " style="margin-top:21px;">

  <input type="hidden" name="id" value="{$srdb['id']}">

  <div class="layui-form-item">
    <label class="layui-form-label">用户头像</label>
    <div class="layui-input-block">
      <img id="showImg" style="width: 150px; margin-left:10px;cursor:pointer;" src="{$srdb['avatar']}"  >
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">用户昵称</label>
    <div class="layui-input-block">
      <input type="text" name="nickname" autocomplete="off" class="layui-input" value="{$srdb['nickname']}">
    </div>
  </div>


 
	<div class="layui-form-item">
	    <label class="layui-form-label">会员等级</label>
	    <div class="layui-input-block">
	      	<select lay-filter="typeSelect" name="member_level"  >	
              	 {if empty($levels)}	
              	      <option value="">暂无</option>	
              	 {else}							        						    	
	              	 {foreach  $levels as $v}						                  
	              		 <option value="{$v.id}"  {eq name="$srdb.member_level" value="$v.id"} selected="" {/eq}>{$v.member_name}</option>							        
	              	 {/foreach}							    
              	 {/if}				           
              	  </select>  
	    </div>
	  </div>
		

  <div class="layui-form-item">
    <label class="layui-form-label">余额</label>
    <div class="layui-input-block">
      <input type="number" name="credit2" autocomplete="off" class="layui-input" value="{$srdb['money']}">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">消费金额</label>
    <div class="layui-input-block">
      <input type="number" name="credit4" autocomplete="off" class="layui-input" value="{$srdb['com_money']}">
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">积分</label>
    <div class="layui-input-block">
      <input type="number" name="integral" autocomplete="off" class="layui-input" value="{$srdb['integral']}">
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">性别</label>
    <div class="layui-input-block">
       <input type="radio" name="gender" value="1" title="不显示" {if $srdb['gender'] == '1' || $srdb['gender'] == ''}checked{/if} lay-filter="aaa">
      <input type="radio" name="gender" value="2" title="男" {if $srdb['gender'] == '2'}checked{/if} lay-filter="aaa">
       <input type="radio" name="gender" value="3" title="女" {if $srdb['gender'] == '3' }checked{/if} lay-filter="aaa">

    </div>
  </div>
  
   <div class="layui-form-item">
   <label class="layui-form-label">生日</label>
      <div class="layui-input-inline">
        <input type="text" class="layui-input" name="br_day" id="test11" placeholder="yyyy-MM-dd"  value="{$srdb['br_day']}">
      </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">手机号码</label>
    <div class="layui-input-block">
      <input type="text" name="mobile" autocomplete="off" class="layui-input" value="{$srdb['mobile']}">
    </div>
  </div>
  
    <div class="layui-form-item">
        <label class="layui-form-label">会员码</label>
        <button type="button" class="layui-btn" id="test1">重新生成</button>
        <div class="layui-input-block">
            <img class="layui-upload-img" id="demo1" style="margin-top: 10px;height: 150px;width: 150px" {if $srdb['member_qrcode']==''}{else}src="{$srdb['member_qrcode']}"{/if}">
            <input type="hidden" name="member_qrcode" id="logo" value="{$srdb['member_qrcode']}">
        </div>
    </div>
    
    <div class="layui-form-item">
        <label class="layui-form-label">分销码</label>
        <button type="button" class="layui-btn" id="test2">重新生成</button>
        <div class="layui-input-block">
            <img class="layui-upload-img" id="demo2" style="margin-top: 10px;height: 150px;width: 150px" {if $srdb['qrcode']==''}{else}src="{$srdb['qrcode']}"{/if}">
            <input type="hidden" name="qrcode" id="qrcode_logo" value="{$srdb['qrcode']}">
        </div>
    </div>
    
  


  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="demo1">立即提交</button>
      <input type="button" class="layui-btn layui-btn-primary" onclick="history.go(-1)" value="返回列表">
    </div>
  </div>
  <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</form>

<script src="__PUBLIC__/static/layuiadmin/layui/layui.js"></script>
<script>
  layui.config({
    base: '__PUBLIC__/static/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
    , layarea: '../layui/layui_exts/city-picker/layarea'
  }).use(['jquery','layer', 'index', 'layarea', 'table','laydate'], function(){
    var $ = layui.$
            , layer = layui.layer
            , table = layui.table
            , layarea = layui.layarea
            , form = layui.form;

    layarea.render({
      elem: '#area-picker',
      change: function (res) {
        //选择结果
        console.log(res);
      }
    });

    var laydate = layui.laydate;
    laydate.render({
      elem: '#test5'
      // ,value: '2018-08-18'
      //,type: 'date' //默认，可不填
    });
    
    laydate.render({
        elem: '#test11'
        ,format: 'yyyy-MM-dd'
      });
    
    //监听提交
    form.on('submit(demo1)', function(data){
      var admin = layui.admin

      $.ajax({
        url:"{:siteUrl('admin/user/edit_user','','web')}",
        data:data.field,
        type:"POST",
        success: function(data){
          var res = JSON.parse(data);
          if(res.code == 0 ){
            layer.msg(res.msg,{icon: 1,time:2000},function(){
              window.location.href="{:siteUrl('admin/user/index','','web')}";
            });
          }else{
            layer.msg(res.msg,{icon: 2,time:2000},function(){
              window.location.href="{:siteUrl('admin/user/index','','web')}";
            });
          }
        }
      })
      return false

    });



    $('#test1').on('click', function(){
    	var id = $("input[name='id']").val();

    	$.ajax({
            url:"{:siteUrl('admin/user/reload_qrcode','','web')}",
            data:{"id":id,"type":1},
            type:"POST",
            success: function(data){
            	var res = JSON.parse(data);
            	if(res.code < 0){
                    return layer.msg('上传失败');
                }else{
                	layer.msg('生成成功');
                    $('#demo1').attr('src', res.data); //图片链接（base64）
                    $('#logo').val(res.data);
                }
            }
    	});
    
    
    });
    
    $('#test2').on('click', function(){
    	var id = $("input[name='id']").val();
  
    	$.ajax({
            url:"{:siteUrl('admin/user/reload_qrcode','','web')}",
            data:{"id":id,"type":2},
            type:"POST",
            success: function(data){
            	var res = JSON.parse(data);
            	if(res.code < 0){
                    return layer.msg('上传失败');
                }else{
                	layer.msg('生成成功');
                    $('#demo2').attr('src', res.data); //图片链接（base64）
                    $('#qrcode_logo').val(res.data);
                }
            }
    	});
    
    
    });
    
    //表单取值
    $('#LAY-component-form-getval').on('click', function(){
      var data = form.val('example');
      alert(JSON.stringify(data));
    });

  });
</script>
</body>
</html>