

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户套餐卡核销记录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/style/admin.css" media="all">
</head>
<style>
    .layui-table-cell{
        display:table-cell;
        vertical-align: middle;
    }
</style>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">核销列表</div>
                <div class="layui-card-body">				
                    <table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate"></table>
					
					

                </div>
            </div>
        </div>
    </div>
</div>

<!-- 表单弹框 -->
<script  type="text/html" id="calendarForm">
    <table class="layui-hide" id="my-offline" lay-filter="test-table-operate"></table>
</script>

<script src="__PUBLIC__/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '__PUBLIC__/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function(){
        var table = layui.table
            ,admin = layui.admin;

        table.render({
            elem: '#test-table-operate'
            ,url:"{:siteUrl('admin/user/meal_hx_index','','web')}&id=<?= $id; ?>"
            ,cols: [[
                {field:'rel_count', title: '使用次数'}
                ,{field:'sum_count', title: '总次数'}
                ,{field:'store_name', title: '核销门店'}
                ,{field:'username', title: '核销员工'}
                ,{field:'createtime', title: '核销时间', sort: true ,templet:function(d){
                        return layui.util.toDateString(d.createtime*1000, "yyyy-MM-dd HH:mm");
                    }}
            ]]
            ,page: true
        });

        table.on('checkbox(test-table-operate)', function(obj){
            console.log(obj)
        });
        table.on('tool(test-table-operate)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('确定删除该用户吗？', function(index){
                    window.location.href="{:siteUrl('admin/user/del_user','','web')}&id="+data.id;
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                window.location.href="{:siteUrl('admin/user/edit_user','','web')}&id="+data.id;
            } else if(obj.event === 'team'){          
            }else if(obj.event === 'list' ){
                layer.open({    
                    type:2,
                    area: ['800px', '500px'],
                    title:"核销记录",
                    yes: function(index, layero){
                        },                    
                    cancel: function(){
                        //右上角关闭回调
                        //return false 开启该代码可禁止点击该按钮关闭
                        },
                        content:"{:siteUrl('admin/user/meal_hx_list','','web')}&id="+data.id,
                        success:function(){
                            }
                            });
                            }
        });


        var $ = layui.$, active = {
            reload: function(){
                var demoReload = $('#test-table-demoReload');                var level_id = $('#level_id');
                //执行重载 --id
                table.reload('test-table-operate', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        'nickname': demoReload.val(),                        'levelId':level_id.val()
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
</body>
<div class="layui-footer" style="margin-top:20px;display: flex;justify-content: center;align-items: flex-end;">
    {include file='../addons/wjyk_nhyk/application/admin/view/index/footer.html' /}
</div>
</html>