

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, member-scalable=0">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/style/admin.css" media="all">
</head>
<style>
    .layui-table-cell{
        display:table-cell;
        vertical-align: middle;
    }
</style>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">充值优惠</div>
                <div class="layui-card-body">

                    <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
                        <button class="layui-btn" data-type="addFirst">添加优惠</button>
                    </div>
                    <table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate"></table>



                    <script type="text/html" id="test-table-operate-barDemo">
                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 表单弹框 -->
<script  type="text/html" id="calendarForm">
    <table class="layui-hide" id="my-offline" lay-filter="test-table-operate"></table>
</script>

<script src="__PUBLIC__/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '__PUBLIC__/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table','jquery'], function(){
        var $ = layui.$
            ,table = layui.table
            ,admin = layui.admin;

        table.render({
            elem: '#test-table-operate'
            ,url:"{:siteUrl('admin/member/recharge_list','','web')}"
            ,cols: [[
                {field:'sort', title: '排序'}
                ,{field:'price', title: '金额', sort: true}
                ,{field:'handsel', title: '赠送', sort: true}
                ,{field:'createtime', title: '添加时间', sort: true ,templet:function(d){
                        return layui.util.toDateString(d.createtime*1000, "yyyy-MM-dd HH:mm");
                    }}
                ,{align:'center', toolbar: '#test-table-operate-barDemo'}
            ]]
        });


        //监听表格复选框选择
        table.on('checkbox(test-table-operate)', function(obj){
            console.log(obj)
        });
        //监听工具条
        table.on('tool(test-table-operate)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('确定删除该等级吗？', function(index){
                    window.location.href="{:siteUrl('admin/member/del_recharge','','web')}&id="+data.id;
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.open({
                    type:2,
                    area : [ '80%', '50%' ],
                    title:"编辑充值",
                    yes: function(index, layero){
                        //按钮【按钮一】的回调
                        layer.close(index);
                    },
                    cancel: function(){
                        //右上角关闭回调

                        //return false 开启该代码可禁止点击该按钮关闭
                    },
                    content:"{:siteUrl('admin/member/recharge_edit','','web')}&id="+data.id,
                    success:function(){


                    }
                });
            }
        });

        var $ = layui.$, active = {
            addFirst: function(){ //添加

                layer.open({
                    type:2,
                    area : [ '80%', '50%' ],
                    title:"添加优惠",
                    yes: function(index, layero){
                        //按钮【按钮一】的回调
                        layer.close(index);
                    },
                    cancel: function(){
                        //右上角关闭回调

                        //return false 开启该代码可禁止点击该按钮关闭
                    },
                    content:"{:siteUrl('admin/member/recharge_edit','','web')}",
                    success:function(){


                    }
                });
            }

        };



        $('.test-table-operate-btn .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
</body>
<div class="layui-footer" style="margin-top:20px;display: flex;justify-content: center;align-items: flex-end;">
    {include file='../addons/wjyk_jdsc_wxapp/application/admin/view/index/footer.html' /}
</div>
</html>