

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>预约优惠卷</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/style/admin.css" media="all">
</head>
<style>
    .layui-table-cell{
        display:table-cell;
        vertical-align: middle;
    }
</style>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">优惠券列表</div>
                <div class="layui-card-body">
                    
                    <table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate"></table>
                    <script type="text/html" id="test-table-operate-barDemo">
                        <a class="layui-btn layui-btn-xs layui-btn-primary " lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                    <script type="text/html" id="displayTpl">
                        {{#  if(d.is_show == 2){ }}
                        <input type="checkbox" checked lay-skin="switch" lay-filter="encrypt"  lay-text="显示|隐藏" >
                        {{#  } else { }}
                        <input type="checkbox" lay-skin="switch" lay-filter="encrypt" lay-text="显示|隐藏" >
                        {{#  } }}
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="__PUBLIC__/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '__PUBLIC__/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['jquery','index', 'table','laydate','form'], function(){
        var $ = layui.$
            ,table = layui.table
            ,admin = layui.admin
            ,form = layui.form
            ,laydate = layui.laydate;

        table.render({
            elem: '#test-table-operate',
            id:'couponlist-table'
            ,url:"{:siteUrl('admin/coupon/coupon_list','','web')}"
            ,cols: [[
            	{type:'radio'},
                {field:'sort',  title: '排序值', sort: true}
                ,{field:'full',  title: '优惠券名称' ,templet:function(d){
                		if(d.type == 1){
                			return "满"+d.full+"减"+d.less;
                		}else if(d.type == 2){
                			return "无门槛"+d.less+"元";
                		}else if(d.type == 3){
                			return "生日优惠券"+d.less+"元";
                		}
                        
                    }}
                ,{field:'region',  title: '可使用区域' ,templet:function(d){
            		if(d.region == 1){
            			return "积分商城";
            		}else if(d.region == 2){
            			return "商城";
            		}else if(d.region == 3){
            			return "全场";
            		}
                    
                }}
                // ,{field:'give', title: '领取方式', sort: true,templet:function(d){
                //         if(d.give == 1){
                //             return "领券大厅";
                //         }else if(d.give == 2){
                //             return "购买商品";
                //         }
                //     }}
                ,{field:'num',  title: '剩余数量', sort: true}
            
                ,{field:'addtime', title: '添加时间', sort: true ,templet:function(d){
                        return layui.util.toDateString(d.addtime*1000, "yyyy-MM-dd HH:mm");
                    }}
     
            ]]
            ,page: true
        });


        

        //监听表格复选框选择
        table.on('checkbox(test-table-operate)', function(obj){
            console.log(obj)
        });
        //监听工具条
        table.on('tool(test-table-operate)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                window.location.href="{:siteUrl('admin/coupon/edit_coupon',array('pid'=>0),'web')}&id="+data.id;
            } else if(obj.event === 'del'){
                layer.confirm('确定删除该优惠券吗', function(index){
                    window.location.href="{:siteUrl('admin/coupon/del_coupon','','web')}&id="+data.id;
                });
            } else if(obj.event === 'edit'){
                layer.open({
                    type:2,
                    area : [ '80%', '80%' ],
                    title:"编辑优惠券",
                    yes: function(index, layero){
                        //按钮【按钮一】的回调
                        layer.close(index);
                    },
                    cancel: function(){
                        //右上角关闭回调

                        //return false 开启该代码可禁止点击该按钮关闭
                    },
                    content:"{:siteUrl('admin/coupon/edit_coupon',array('pid'=>0),'web')}&type=1&id="+data.id,
                    success:function(){


                    }
                });
            }else if(obj.event === 'setSign'){
                admin.req({
                    url:"{:siteUrl('admin/coupon/change','','web')}&id="+data.id,
                    type:"POST",
                    done:res=>{
                        table.reload('test-table-operate', {
                            // page: {
                            //     curr: 1 //重新从第 1 页开始
                            // }
                        });
                    }
                })
            }
        });

        var $ = layui.$, active = {
            addFirst: function(){ //添加

                layer.open({
                    type:2,
                    area : [ '80%', '80%' ],
                    title:"添加优惠券",
                    yes: function(index, layero){
                        //按钮【按钮一】的回调
                        layer.close(index);
                    },
                    cancel: function(){
                        //右上角关闭回调

                        //return false 开启该代码可禁止点击该按钮关闭
                    },
                    content:"{:siteUrl('admin/coupon/edit_coupon',array('pid'=>0),'web')}&type=1",
                    success:function(){


                    }
                });
            }
            ,reload: function(){
                var demoReload = $('#test-table-demoReload');
                //执行重载 --id
                table.reload('test-table-operate', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        'name': demoReload.val()
                    }
                });
            }
        };
        
        window.callbackdata = function () {
	       	var checkStatus = table.checkStatus('couponlist-table'); //获取选中行状态
	
            var data = checkStatus.data;  //获取选中行数据
         
	         
	        return data;
       	 
       }
        

        $('.test-table-operate-btn .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
</body>
<div class="layui-footer" style="margin-top:20px;display: flex;justify-content: center;align-items: flex-end;">
    {include file='../addons/wjyk_nhyk/application/admin/view/index/footer.html' /}
</div>
</html>