<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>编辑门店</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/layuiadmin/layui/css/modules/inputTags/tag.css">
    <style>
        form{
            padding-right:15px ;
        }
    </style>
</head>
<body>
<form class="layui-form" style="margin-top:21px;">
    <input type="hidden" name="id" value="{$store['id']}"/>
	  <div class="layui-form-item">
	    <label class="layui-form-label">房间名称</label>
	    <div class="layui-input-block">
	      <input type="text" name="room_name" required lay-verify="required" placeholder="请输入房间名称" autocomplete="off" class="layui-input" value="{$store['room_name']}" />
	    </div>
	  </div>
	  
	  <div class="layui-form-item">
	    <label class="layui-form-label">房间类型</label>
	    <div class="layui-input-block">
	      	<select lay-filter="typeSelect" name="cid"  >	
              	 {if empty($cate)}	
              	      <option value="">暂无</option>	
              	 {else}							        						    	
	              	 {foreach  $cate as $v}						                  
	              		 <option value="{$v.id}"  {eq name="$store.cid" value="$v.id"} selected="" {/eq}>{$v.c_name}</option>							        
	              	 {/foreach}							    
              	 {/if}				           
              	  </select>  
	    </div>
	  </div>
	  
	  <!-- 
	  <div class="layui-form-item">
	    <label class="layui-form-label">房间数量</label>
	    <div class="layui-input-block">
	      <input type="text" name="room_num" required lay-verify="required" placeholder="请输入房间数量" autocomplete="off" class="layui-input" value="{$store['room_num']}" />
	    </div>
	  </div> -->
	  
	  <div class="layui-form-item">
	    <label class="layui-form-label">价格</label>
	    <div class="layui-input-block">
	      <input type="number" name="price" required lay-verify="required"  autocomplete="off" class="layui-input" value="{$store['price']}" />
	    </div>
	  </div>
	  
	  
	   <div class="layui-form-item">
	    <label class="layui-form-label">优惠价</label>
	    <div class="layui-input-block">
	      <input type="number" name="discount_prcie" required lay-verify="required"  autocomplete="off" class="layui-input" value="{$store['discount_prcie']}" />
	    </div>
	  </div> 
	  
	  <div class="layui-form-item">
	    <label class="layui-form-label">赠送优惠卷金额(填写0则没有)</label>
	    <div class="layui-input-block">
	      <input type="number" name="coupon_money" required lay-verify="required"  autocomplete="off" class="layui-input" value="{$store['coupon_money']}" />
	    </div>
	  </div>

	  <div class="layui-form-item">
	    <label class="layui-form-label">商品规格</label>
	    <div class="layui-btn-container tag" lay-filter="label" id="label" lay-allowclose="true" lay-newTag="true" >
	    {if !empty($store['spec'])}
		    {foreach  $store['spec'] as $v}
		    	<button type="button" class="tag-item">{$v}</button>
		    {/foreach}
		{/if}
		</div>
	  </div>
	  
	  

		<div class="layui-form-item">
	    <label class="layui-form-label">房间描述</label>
	    <div class="layui-input-block">
	      <input type="text" name="desc" required lay-verify="required"  autocomplete="off" class="layui-input" value="{$store['desc']}" />
	    </div>
	  </div>
	  
	  
	  	<div class="layui-form-item">
	    <label class="layui-form-label">费用政策</label>
	    <div class="layui-input-block">
	      <input type="text" name="price_desc" required lay-verify="required"  autocomplete="off" class="layui-input" value="{$store['price_desc']}" />
	    </div>
	  </div>
	  

	  <div class="layui-form-item">
        <label class="layui-form-label">推荐类型</label>
        <div class="layui-input-block">
            <input type="radio" name="top_type" value="0" title="无" {if $store['top_type'] == '0' || $store['top_type'] == ''}checked{/if}>
            <input type="radio" name="top_type" value="1" title="特惠房间" {if $store['top_type'] == '1'}checked{/if}>
            <input type="radio" name="top_type" value="2" title="人气房间" {if $store['top_type'] == '2'}checked{/if}>
        </div>
    	</div>
    
    

    <div class="layui-form-item">
        <label class="layui-form-label">封面</label>
        <button type="button" class="layui-btn" id="test2">上传图片</button>
        <div class="layui-input-block">
            <img class="layui-upload-img" id="demo2" style="margin-top: 10px;height: 150px;width: 150px" {if $store['img']==''}{else}src="{$store['img']}"{/if}">
            <input type="hidden" name="img"  lay-verify="required" id="group_log" value="{$store['img']}">
        </div>
        <div class="layui-input-block">
            <div class="layui-form-mid layui-word-aux">图片建议尺寸380*380px</div>
        </div>
    </div>
    
    
	 <div class="layui-form-item">
        <label class="layui-form-label">房间轮播图</label>
        <button type="button" class="layui-btn" id="test3">上传图片</button>
        <div class="layui-form-mid layui-word-aux">图片建议尺寸622px * 750px，或者等比例图片</div>
      <div class="layui-input-block">
        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
		    预览图：
		    <div class="layui-upload-list"  id="ImgPreview" style="display: flex;"> 
	         	{if !empty($store['carousel'])}
	         		{foreach  $store['carousel'] as $v}
		  			<div class="image-container" id="container{$v}">
				        <div class="delete-css">
		            		<div id="{$v}" class="upload_img layui-btn layui-btn-danger layui-btn-xs">删除</div>
		            	</div>
		                <img id="showImg" style="width:150px; margin:10px;cursor:pointer;" src="{$v}"  >
		                <input value="{$v}" name="carousel[]" class="carousel" type="hidden">
		            </div>
			        {/foreach}
				{/if}
	        </div>
		 </blockquote>
      </div>
    </div>
	


  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="demo1">立即提交</button>
    </div>
  </div>
  <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</form>

<script src="__PUBLIC__/static/layuiadmin/layui/layui.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/ueditor/ueditor.all.js"></script>
<script>
	layui.config({
	    base: '__PUBLIC__/static/layuiadmin/' //静态资源所在路径
	}).extend({
		index: 'lib/index' //主入口模块
	    	, layarea: '../layui/layui_exts/city-picker/layarea'
	    		,tag :'../layui/layui_exts/tag/tag'
	    			,tagit :'../layui/layui_exts/tagit/tagit'
	}).use(['jquery','layer', 'index', 'table','upload', 'layarea','layedit','tag','tagit'], function(){
		var $ = layui.$
		, layer = layui.layer
		, layedit = layui.layedit
	    , table = layui.table
	    , form = layui.form
	    , tag = layui.tag
	    , layarea = layui.layarea
	    ,tagit = layui.tagit
	    , upload = layui.upload;

		
		
		tag.render("label", {
            skin: 'layui-btn layui-btn-primary layui-btn-sm layui-btn-radius',//标签样式
            tagText: '<i class="layui-icon layui-icon-add-1"></i> 新标签' //标签添加按钮提示文本
        });

        tag.on('click(label)', function (data) {
            console.log('点击');
            console.log(tag.data('label'));
        });

        tag.on('add(label)', function (data) {
            console.log('新增');
            var label = $(data.othis).html();
            console.log(label);
        });

        tag.on('delete(label)', function (data) {
        	console.log(tag.data('label'));
            $(this).remove();
        });
		
		
        //建立编辑器
        layedit.build('group_desc');

        /** 初始化 */
      
          upload.render({
            elem: '#test3'
           	,url: "{:siteUrl('admin/index/upload','','web')}" //改成您自己的上传接口
         	,multiple: true
            ,choose:function (obj) {
            	 var files = this.files = obj.pushFile();
            
               
             obj.preview(function(index, file, result){
                 $('#ImgPreview').append('<div class="image-container" id="containers'+index+'"><div class="delete-css"><button id="upload_img_s'+index+'" class="layui-btn layui-btn-danger layui-btn-xs">删除</button></div>\n' +
                     '<img id="showImgs'+index+'" style="width: 150px; margin:10px;cursor:pointer;" src="'+ result +'" alt="'+ file.name +'" ></div>');
                 $("#upload_img_s" + index).bind('click', function () {
                 	delete files[index];
                     $("#containers"+index).remove();
                 });
              });
               
             }
             ,done: function(res,index){ //当文件全部被提交后，才触发
               $('#ImgPreview').append('<input value="'+ res.msg +'" name="carousel[]" class="carousel"  type="hidden">');
               delete this.files[index];
             }
          });
    	
        $('.upload_img').on('click',function () {
      		var url = $(this).attr('id');
      		$(this).parents('.image-container').remove();
      	});
          
          $('#ImgPreview img').on('click', function () {
              layer.photos({
                  photos: '#ImgPreview',
                  shadeClose: false,
                  closeBtn: 2,
                  anim: 0
              });
          })
          
          $('#ImgPreviewTemp img').on('click', function () {
              layer.photos({
                  photos: '#ImgPreviewTemp',
                  shadeClose: false,
                  closeBtn: 2,
                  anim: 0
              });
          })

          $('#ImgStore img').on('click', function () {
              layer.photos({
                  photos: '#ImgStore',
                  shadeClose: false,
                  closeBtn: 2,
                  anim: 0
              });
          })
          

        
        $("#trapeze").click(function(){
            layer.open({
                type:2,
                area: ['800px', '500px'],
                title:"选择经纬度",
                btn: ['确定', '取消'],
                yes: function(index, layero){
                    //按钮【按钮一】的回调
                    var body = layer.getChildFrame('body', index);
                    var tempLng = body.find("#lng").val();
                    var tempLat = body.find("#lat").val();
                    console.log("lng",tempLng);
                    console.log("lat",tempLat);
                 
                    $("#lng").val(tempLng);
                    $("#lat").val(tempLat);
                	layer.close(index);
                	
                },
                cancel: function(){ 
                    //右上角关闭回调
                    
                    //return false 开启该代码可禁止点击该按钮关闭
                },
                content:"{:siteUrl('admin/index/map','','web')}",
                success:function(){
                	

                }  
            });
       });
        
        $("#store_admin_select").click(function(){
        	layer.open({
                type:2,
                area: ['800px', '500px'],
                title:"选择经纬度",
                btn: ['确定', '取消'],
                yes: function(index, layero){
                    //按钮【按钮一】的回调
                    var body = layer.getChildFrame('body', index);
                    var tempLng = body.find("#lng").val();
                    var tempLat = body.find("#lat").val();
                    var tempAddres = body.find("#addres").val();
                  	debugger;
                    $("#lng").val(tempLng);
                    $("#lat").val(tempLat);
                    $("#addres").val(tempAddres);
                    $("#addresLabel").text(tempAddres);
                    
                	layer.close(index);
                	
                },
                cancel: function(){ 
                    //右上角关闭回调
                    
                    //return false 开启该代码可禁止点击该按钮关闭
                },
                content:"{:siteUrl('admin/store/select_admin','','web')}",
                success:function(){
                	

                }  
            });
        });
        
        
        $("#qqtrapeze").click(function(){
            layer.open({
                type:2,
                area: ['800px', '500px'],
                title:"选择经纬度",
                btn: ['确定', '取消'],
                yes: function(index, layero){
                    //按钮【按钮一】的回调
                    var body = layer.getChildFrame('body', index);
                    var tempLng = body.find("#lng").val();
                    var tempLat = body.find("#lat").val();
                    var tempAddres = body.find("#addres").val();
                 
                    $("#lng").val(tempLng);
                    $("#lat").val(tempLat);
                    $("#addres").val(tempAddres);
                    $("#addresLabel").text(tempAddres);
                    
                	layer.close(index);
                	
                },
                cancel: function(){ 
                    //右上角关闭回调
                    
                    //return false 开启该代码可禁止点击该按钮关闭
                },
                content:"{:siteUrl('admin/index/qqmap','','web')}",
                success:function(){
                	

                }  
            });
       });
        
        
        
        
        

    	layarea.render({
            elem: '#area-picker',
            change: function (res) {
                //选择结果
                console.log(res);
            }
        });


      
        
       


    	




        upload.render({
            elem: '#test2'
            ,url: "{:siteUrl('admin/index/upload','','web')}" //改成您自己的上传接口
            ,done: function(res){
                if(res.code > 0){
                    return layer.msg('上传失败');
                }else{
                    $('#demo2').attr('src', res.msg); //图片链接（base64）
                    $('#group_log').val(res.msg);
                    
                }
            }
        });
        
        

       window.addEventListener('message', function(event) {
        	debugger;
            console.log(event) // 里面就有经纬度等其他信息
        })
      
        


     

        $(document).on('click',".del_details",function(){
            $(this).parent().parent().remove();
        });

      //监听提交
        form.on('submit(demo1)', function(data){
            var admin = layui.admin;
          
            data.field.spec= tag.data('label');
            
            console.log( data.field.spec);

            if(data.field.spec == ''){
            	layer.msg('规格为空，请先添加规格');
            	return false
            }
            
            
            $.ajax({
            	url:"{:siteUrl('admin/room/edit_room','','web')}",
                data:data.field,
                type:"POST",
                success: function(data){
                	var res = JSON.parse(data);
                	if(res.code == 0 ){
                		layer.msg(res.msg,{icon: 1,time:3000},function(){
                			window.parent.location.reload()//刷新父页面
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                		});
                	}else{
                		layer.msg(res.msg,{icon: 2,time:3000},function(){
                			window.parent.location.reload()//刷新父页面
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                		});
                	}
                }
            })
            return false
        });

		
      
    });
</script>
</body>
</html>