<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>提现设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/style/admin.css" media="all">
    <style>
        form{
            padding-right:15px ;
        }
    </style>
</head>
<body>

<div class="layui-tab">
  <ul class="layui-tab-title">
    <li class="layui-this">分销设置</li>
    <li>待审核提现</li>
    <li>已打款提现</li>
    <li>无效提现</li>
  </ul>
  <div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
      <div class="layui-fluid">
    	<div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body" pad15>
					<form class="layui-form " style="margin-top:21px;">
					  <input type="hidden" name="id" value="{$set['id']}">
					  
					  <div class="layui-form-item">
					    <label class="layui-form-label" style="width: 10%;">是否开启</label>
					    <div class="layui-input-block" id="IsPurchased">
					      <input type="radio" name="is_open" value="1" title="开启" {if $set['is_open'] == '1' || $set['is_open'] == ''}checked{/if} lay-filter="aaa">
					      <input type="radio" name="is_open" value="2" title="隐藏" {if $set['is_open'] == '2'}checked{/if} lay-filter="aaa">
					    </div>
					  </div>
					  
					  <div class="layui-form-item">
					    <label class="layui-form-label" style="width: 10%;">分销等级</label>
					    <div class="layui-input-block" id="is_level">
					      <input type="radio" name="is_level" value="1" title="一级分销" {if $set['is_level'] == 1 || $set['is_level'] == '' }checked{/if} lay-filter="bbb">
					      <input type="radio" name="is_level" value="2" title="二级分销" {if $set['is_level'] == 2 }checked{/if} lay-filter="bbb" >
					      <input type="radio" name="is_level" value="3" title="三级分销" {if $set['is_level'] == 3 }checked{/if} lay-filter="bbb">
					    </div>
					  </div>
					  
					  
					  <div class='level1' >
				  	 	<div class="layui-form-item">
						    <label class="layui-form-label" style="width: 10%;">一级分销比例</label>
						    <div class="layui-input-inline">
						      <input type="number" name="oneLevel"   autocomplete="off" class="layui-input" value="{$set['oneLevel']}">
						    </div>
						    <div class="layui-form-mid layui-word-aux">         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（小数单位，例如：0.1、0.01）</div>
						  </div>
				  	  </div>
					  
					  <div class="level2"  {if $set['is_level'] == 1 || $set['is_level'] == ''}style="display:none"{/if}>
					  	  <div class="layui-form-item">
						    <label class="layui-form-label" style="width: 10%;">二级分销比例</label>
						    <div class="layui-input-inline">
						      <input type="number" name="twoLevel"   autocomplete="off" class="layui-input" value="{$set['twoLevel']}">
						    </div>
   						    <div class="layui-form-mid layui-word-aux">         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（小数单位，例如：0.1、0.01）</div>
						  </div>
				  	  </div>
				  	  
				  	  <div class="level3"  {if $set['is_level'] == 1 || $set['is_level'] == 2 || $set['is_level'] == ''}style="display:none"{/if}>
					  	  <div class="layui-form-item">
						    <label class="layui-form-label" style="width: 10%;">三级分销比例</label>
						    <div class="layui-input-inline">
						      <input type="number" name="threeLevel"   autocomplete="off" class="layui-input" value="{$set['threeLevel']}">
						    </div>
						    <div class="layui-form-mid layui-word-aux">         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（小数单位，例如：0.1、0.01）</div>
						  </div>
				  	  </div>
					  
					  <div class="layui-form-item">
					    <label class="layui-form-label" style="width: 10%;">提现方式</label>
					    <div class="layui-input-block">
					      <input type="radio" name="cash_type" value="1" title="提现到银行卡" {if $set['cash_type'] == 1 || $set['cash_type'] == '' }checked{/if}>
					      <input type="radio" name="cash_type" value="2" title="提现到微信零钱" {if $set['cash_type'] == 2 }checked{/if}>
					    </div>
					  </div>
					  
					  
					  
					   
					  <div class="layui-form-item">
					    <label class="layui-form-label" style="width: 10%;">提现额度</label>
					    <div class="layui-input-inline">
					      <input type="number" name="cash_limit"   autocomplete="off" class="layui-input" value="{$set['cash_limit']}">
					    </div>
					    <div class="layui-form-mid layui-word-aux">元         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金额达到此额度时才能提现</div>
					  </div>
					  
					  
					  <div class="layui-form-item">
					    <div class="layui-input-block">
					      <button class="layui-btn" lay-submit lay-filter="demo1">立即提交</button>
					    </div>
					  </div>
					  <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
					</form>
					</div>
        </div>
    </div>
</div>
</div>
    </div>
    <div class="layui-tab-item">
    	<table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate"></table>	
    </div>
    <div class="layui-tab-item">
    	<table class="layui-hide" id="test-table-operate2" lay-filter="test-table-operate2"></table>
    </div>
    <div class="layui-tab-item">
    	<table class="layui-hide" id="test-table-operate3" lay-filter="test-table-operate3"></table>
        <script type="text/html" id="test-table-operate-barDemo">
        	<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        </script>
    </div>
    <div class="layui-tab-item">内容5</div>
  </div>
</div>


<script src="__PUBLIC__/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '__PUBLIC__/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index');

</script>
<script>
    layui.use(['element','jquery','form', 'table','upload'], function(){
    	var $ = layui.$
    		,form = layui.form
            ,layer = layui.layer
            ,element = layui.element
            , table = layui.table;

    	form.on('radio(bbb)', function (data) {
            if ($('#is_level input[name="is_level"]:checked ').val() == "1") {
             $(".level2").hide();
             $(".level3").hide();
             $(".level1").show();
            }
            else if($('#is_level input[name="is_level"]:checked ').val() == "2"){
            	$(".level2").show();
                $(".level3").hide();
                $(".level1").show();
            }else if($('#is_level input[name="is_level"]:checked ').val() == "3"){
            	$(".level2").show();
                $(".level3").show();
                $(".level1").show();
            }
            form.render();
        });
    	
    	table.render({
            elem: '#test-table-operate'
            ,url:"{:siteUrl('admin/brokerage/wait_log_list','','web')}"
            ,cols: [[
                {field:'id', title: '提现者信息',templet:function(d){
                	return d.name+"<img style='max-width:25px;' src='"+d.avatar+"'></img>";
                }}
                ,{field:'brokerage_wait', title: '申请金额(元)', sort: true}
                ,{field:'cash_type', title: '提现方式', sort: true,templet:function(d){
                	if(d.cash_type == 1){
                		return "提现到银行卡";
                	}else{
                		return "提现到微信零钱";
                	}
                }}
                ,{field:'createtime', title: '申请时间', sort: true ,templet:function(d){
                	return layui.util.toDateString(d.createtime*1000, "yyyy-MM-dd HH:mm");
                }}
                ,{align:'center', toolbar: '#test-table-operate-barDemo'}
            ]]
            ,page: true
        });
    	
    	table.render({
            elem: '#test-table-operate2'
            ,url:"{:siteUrl('admin/brokerage/already_log_list','','web')}"
            ,cols: [[
                {field:'id', title: '提现者信息',templet:function(d){
                	return d.name+"<img style='max-width:25px;' src='"+d.avatar+"'></img>";
                }}
                ,{field:'brokerage_wait', title: '申请金额(元)', sort: true}
                ,{field:'cash_type', title: '提现方式', sort: true,templet:function(d){
                	if(d.cash_type == 1){
                		return "提现到银行卡";
                	}else{
                		return "提现到微信零钱";
                	}
                }}
                ,{field:'createtime', title: '申请时间', sort: true ,templet:function(d){
                	return layui.util.toDateString(d.createtime*1000, "yyyy-MM-dd HH:mm");
                }}
                ,{align:'center', toolbar: '#test-table-operate-barDemo'}
            ]]
            ,page: true
        });
    	
    	table.render({
            elem: '#test-table-operate3'
            ,url:"{:siteUrl('admin/brokerage/invaild_log_list','','web')}"
            ,cols: [[
                {field:'id', title: '提现者信息',templet:function(d){
                	return d.name+"<img style='max-width:25px;' src='"+d.avatar+"'></img>";
                }}
                ,{field:'brokerage_wait', title: '申请金额(元)', sort: true}
                ,{field:'cash_type', title: '提现方式', sort: true,templet:function(d){
                	if(d.cash_type == 1){
                		return "提现到银行卡";
                	}else{
                		return "提现到微信零钱";
                	}
                }}
                ,{field:'createtime', title: '申请时间', sort: true ,templet:function(d){
                	return layui.util.toDateString(d.createtime*1000, "yyyy-MM-dd HH:mm");
                }}
                ,{align:'center', toolbar: '#test-table-operate-barDemo'}
            ]]
            ,page: true
        });
        
        

        //监听表格复选框选择
        table.on('checkbox(test-table-operate)', function(obj){
            console.log(obj)
        });
        //监听工具条
        table.on('tool(test-table-operate)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
            	window.location.href="{:siteUrl('admin/brokerage/edit_brokerage','','web')}&id="+data.id+"&is_status="+data.is_status;
            } 
        });
        
        table.on('tool(test-table-operate2)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
            	window.location.href="{:siteUrl('admin/brokerage/edit_brokerage','','web')}&id="+data.id+"&is_status="+data.is_status;
            } 
        });
        
        table.on('tool(test-table-operate3)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
            	window.location.href="{:siteUrl('admin/brokerage/edit_brokerage','','web')}&id="+data.id+"&is_status="+data.is_status;
            } 
        });
        
        
      //监听提交 
        form.on('submit(demo1)', function(data){
            var admin = layui.admin

            admin.req({
                url:"{:siteUrl('admin/brokerage/set_brokerage','','web')}",
                data:data.field,
                type:"POST",
                done:res=>{
                	if(res.code == 0 ){
                		layer.msg("设置成功");
                	}
                }
            })
            return false
  
        });


        //表单取值
        layui.$('#LAY-component-form-getval').on('click', function(){
            var data = form.val('example');
            alert(JSON.stringify(data));
        });

    });
</script>
</body>
<div class="layui-footer" style="position:absolute;bottom:0;text-align:center;width:100%">
	{include file='../addons/wjyk_recycle/application/admin/view/index/footer.html' /}
</div>
</html>