

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>门店统计</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/style/admin.css" media="all">
     <script src="__PUBLIC__/static/layuiadmin/layui/echarts.min.js"></script>
</head>
<style>
  .layui-table-cell{
      display:table-cell;
      vertical-align: middle;
  }
</style>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">门店数据统计</div>
                <div class="layui-card-body">
                    <div class=" demoTable layui-form" style="margin-bottom:10px">
                    	
                    	<div class="layui-inline" style="margin-left:10px">
			              <input class="layui-input" placeholder="请输入商品名称" name="id" id="test-table-demoReload" autocomplete="off">
			            </div>
			            <button class="layui-btn" data-type="reload">搜索</button>
					</div>
                    <table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate"></table>

                    <script type="text/html" id="test-table-operate-barDemo">
						
                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                    
                    <script type="text/html" id="displayTpl">
  						{{#  if(d.is_hot == 1){ }}
    						 <input type="checkbox" checked lay-skin="switch" lay-filter="encrypt"  lay-text="热门|不热门" disabled>
  						{{#  } else { }}
    						 <input type="checkbox" lay-skin="switch" lay-filter="encrypt" lay-text="热门|不热门" disabled>
  						{{#  } }}
					</script>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header">数据概览</div>
              <div class="layui-card-body">
                
                <div class="layui-carousel layadmin-carousel layadmin-dataview" id="main" data-anim="fade" lay-filter="LAY-index-dataview">
					
                </div>
                
              </div>
            </div>
          </div>
    </div>
</div>

<script src="__PUBLIC__/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '__PUBLIC__/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function(){
        var table = layui.table
            ,admin = layui.admin
            ,$ = layui.$
            ;

        
        var app = {};
        var chartDom = document.getElementById('main');
        var myChart = echarts.init(chartDom);
        var option;
        
         table.render({
            elem: '#test-table-operate'
            ,url:"{:siteUrl('admin/statistics/consume_list','','web')}"
            ,cols: [[
				{field:'store_name',  title: '门店名称',}
				,{field:'store_addres',  title: '门店地址'}
                ,{field:'create_date',  title: '添加时间', sort: true ,templet:function(d){
                	return layui.util.toDateString(d.create_date*1000, "yyyy-MM-dd HH:mm");
                }}
                ,{width:218, align:'center', toolbar: '#test-table-operate-barDemo'}
            ]]
            ,page: true
        });
         
        

         //监听表格复选框选择
        table.on('checkbox(test-table-operate)', function(obj){
            console.log(obj)
        });
        //监听工具条
        table.on('tool(test-table-operate)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
            	window.location.href="{:siteUrl('admin/goods/edit_goods','','web')}&id="+data.id;
            } else if(obj.event === 'del'){
                layer.confirm('确定删除该产品吗？', function(index){
                	window.location.href="{:siteUrl('admin/goods/del_goods','','web')}&id="+data.id;
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                window.location.href="{:siteUrl('admin/store/edit_store','','web')}&id="+data.id;
            }
        });
        
        table.on('toolbar(test-table-operate)', function(obj){
       	  var checkStatus = table.checkStatus(obj.config.id);
       	  switch(obj.event){
       	    case 'add':
       	    	window.location.href="{:siteUrl('admin/goods/edit_goods','','web')}";
       	    break;
       	  };
       	});

        var $ = layui.$, active = {
            reload: function(){
            	var demoReload = $('#test-table-demoReload');
                var categoryid = $('#categoryid');
                //执行重载 --id
                table.reload('test-table-operate', {
                  page: {
                    curr: 1 //重新从第 1 页开始
                  }
                  ,where: {
                	  'name': demoReload.val(),
                    'categoryid': categoryid.val()
                  }
                });
              },
              addgoods:function(){
           	   window.location.href="{:siteUrl('admin/store/edit_store','','web')}";
               }
        }; 

        
        
        $.get("{:siteUrl('admin/statistics/consume_statis','','web','merchant')}",{"type":2}, function (result) {

        	var posList = [
                           'left', 'right', 'top', 'bottom',
                           'inside',
                           'insideTop', 'insideLeft', 'insideRight', 'insideBottom',
                           'insideTopLeft', 'insideTopRight', 'insideBottomLeft', 'insideBottomRight'
                       ];

                       app.configParameters = {
                           rotate: {
                               min: -90,
                               max: 90
                           },
                           align: {
                               options: {
                                   left: 'left',
                                   center: 'center',
                                   right: 'right'
                               }
                           },
                           verticalAlign: {
                               options: {
                                   top: 'top',
                                   middle: 'middle',
                                   bottom: 'bottom'
                               }
                           },
                           position: {
                               options: posList.reduce(function (map, pos) {
                                   map[pos] = pos;
                                   return map;
                               }, {})
                           },
                           distance: {
                               min: 0,
                               max: 100
                           }
                       };

                       app.config = {
                           rotate: 90,
                           align: 'left',
                           verticalAlign: 'middle',
                           position: 'insideBottom',
                           distance: 15,
                           onChange: function () {
                               var labelOption = {
                                   normal: {
                                       rotate: app.config.rotate,
                                       align: app.config.align,
                                       verticalAlign: app.config.verticalAlign,
                                       position: app.config.position,
                                       distance: app.config.distance
                                   }
                               };
                               myChart.setOption({
                                   series: [{
                                       label: labelOption
                                   }, {
                                       label: labelOption
                                   }, {
                                       label: labelOption
                                   }, {
                                       label: labelOption
                                   }]
                               });
                           }
                       };


                       var labelOption = {
                           show: true,
                           position: app.config.position,
                           distance: app.config.distance,
                           align: app.config.align,
                           verticalAlign: app.config.verticalAlign,
                           rotate: app.config.rotate,
                           formatter: '{c}  {name|{a}}',
                           fontSize: 16,
                           rich: {
                               name: {
                               }
                           }
                       };

                       var seriesTemp = [];
                      
                       for (key in result.data.data){
                    	   var tempJson = {
                    			   name:  key,
                    			   type:'bar',
                    			   barGap: 0,
                                   label: labelOption,
                                   emphasis: {
                                       focus: 'series'
                                   },
                                   data:result.data.data[key]
                    	   }
                    	   seriesTemp.push(tempJson);
                       }
                       
                       option = {
                           tooltip: {
                               trigger: 'axis',
                               axisPointer: {
                                   type: 'shadow'
                               }
                           },
                           legend: {
                               data: result.data.cateList
                           },
                           toolbox: {
                               show: true,
                               orient: 'vertical',
                               left: 'right',
                               top: 'center',
                               feature: {
                                   mark: {show: true},
                                   dataView: {show: true, readOnly: false},
                                   magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                                   restore: {show: true},
                                   saveAsImage: {show: true}
                               }
                           },
                           xAxis: [
                               {
                                   type: 'category',
                                   axisTick: {show: false},
                                   data: result.data.dateList
                                   
                               }
                           ],
                           yAxis: [
                               {
                                   type: 'value'
                               }
                           ],
                           series: seriesTemp
                       };
                       option && myChart.setOption(option);
    	    
    	 }, 'json')
        
        
        
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        
        
        
        
        
        
        

    });
</script>
</body>
<div class="layui-footer" style="margin-top:20px;display: flex;justify-content: center;align-items: flex-end;">
	{include file='../addons/wjyk_nhyk/application/admin/view/index/footer.html' /}
</div>
</html>