<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>商城设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/style/admin.css" media="all">
    <style>
        form{
            padding-right:15px ;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">商城设置</div>
                <div class="layui-card-body" pad15>

                    <div class="layui-form" wid100 lay-filter="">
<form class="layui-form" style="margin-top:21px;">

	

     <div class="layui-form-item" >
        <label class="layui-form-label">每日特惠背景图</label>
        <button type="button" class="layui-btn" id="mei_upload">上传图片</button>
        <div class="layui-form-mid layui-word-aux">图片建议尺寸382px * 300px，或者等比例图片</div>
        <div class="layui-input-block">
            <img class="layui-upload-img" id="mei_upload_img" style="margin-top: 10px;height: 150px;width: 150px" {if !empty($system['mei_img'])} src="{$system['mei_img']}" {/if} >
            <input type="hidden" name="mei_img" id="mei_upload_log"  class="carousel"  {if !empty($system['mei_img'])} value="{$system['mei_img']}" {/if} >
        </div>
    </div>
    
    <div class="layui-form-item" >
        <label class="layui-form-label">兑换专区背景图</label>
        <button type="button" class="layui-btn" id="dui_upload">上传图片</button>
        <div class="layui-form-mid layui-word-aux">图片建议尺寸176px * 370px，或者等比例图片</div>
        <div class="layui-input-block">
            <img class="layui-upload-img" id="dui_upload_img" style="margin-top: 10px;height: 150px;width: 150px" {if !empty($system['dui_img'])} src="{$system['dui_img']}" {/if} >
            <input type="hidden" name="dui_img" id="dui_upload_log"  class="carousel"  {if !empty($system['dui_img'])} value="{$system['dui_img']}" {/if} >
        </div>
    </div>
    
    <div class="layui-form-item" >
        <label class="layui-form-label">新品专区背景图</label>
        <button type="button" class="layui-btn" id="new_good_upload">上传图片</button>
        <div class="layui-form-mid layui-word-aux">图片建议尺寸176px * 700px，或者等比例图片</div>
        <div class="layui-input-block">
            <img class="layui-upload-img" id="new_good_upload_img" style="margin-top: 10px;height: 150px;width: 150px" {if !empty($system['new_good_img'])} src="{$system['new_good_img']}" {/if} >
            <input type="hidden" name="new_good_img" id="new_good_upload_log" class="carousel"  {if !empty($system['new_good_img'])} value="{$system['new_good_img']}" {/if} >
        </div>
    </div>
    
    
    <div class="layui-form-item">
        <label class="layui-form-label">会员抢购背景图</label>
        <button type="button" class="layui-btn" id="member_upload">上传图片</button>
        <div class="layui-form-mid layui-word-aux">图片建议尺寸170px * 370px，或者等比例图片</div>
        <div class="layui-input-block">
        	
            <img class="layui-upload-img" id="member_upload_img" style="margin-top: 10px;height: 150px;width: 150px" {if !empty($system['member_img'])} src="{$system['member_img']}" {/if} >
            <input type="hidden" name="member_img" id="member_upload_log" class="carousel"   {if !empty($system['member_img'])} value="{$system['member_img']}" {/if} >
        </div>
    </div>
    
    <div class="layui-form-item">
        <label class="layui-form-label">首页轮播图</label>
        <button type="button" class="layui-btn" id="test2">上传图片</button>
        <div class="layui-form-mid layui-word-aux">图片建议尺寸622px * 750px，或者等比例图片</div>
      <div class="layui-input-block">
        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
		    预览图：
		    <div class="layui-upload-list"  id="ImgPreview" style="display: flex;"> 
	         	{if !empty($system['carousel'])}
	         		{foreach  $system['carousel'] as $v}
		  			<div class="image-container" id="container{$v}">
				        <div class="delete-css">
		            		<div id="{$v}" class="upload_img layui-btn layui-btn-danger layui-btn-xs">删除</div>
		            	</div>
		                <img id="showImg" style="width:150px; margin:10px;cursor:pointer;" src="{$v}"  >
		                <input value="{$v}" name="carousel[]" class="carousel" type="hidden">
		            </div>
			        {/foreach}
				{/if}
	        </div>
		 </blockquote>
      </div>
    </div>
    
    
    <div class="layui-form-item">
        <label class="layui-form-label">分类轮播图</label>
        <button type="button" class="layui-btn" id="test4">上传图片</button>
        <div class="layui-form-mid layui-word-aux">图片建议尺寸540px * 234px，或者等比例图片</div>
      <div class="layui-input-block">
        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
		    预览图：
		    <div class="layui-upload-list"  id="ImgPreviewTemp" style="display: flex;"> 
	         	{if !empty($system['cate_carousel'])}
	         		{foreach  $system['cate_carousel'] as $v}
		  			<div class="image-container" id="container{$v}">
				        <div class="delete-css">
		            		<div id="{$v}" class="upload_img layui-btn layui-btn-danger layui-btn-xs">删除</div>
		            	</div>
		                <img id="showImg" style="width:150px; margin:10px;cursor:pointer;" src="{$v}"  >
		                <input value="{$v}" name="cate_carousel[]" class="carousel" type="hidden">
		            </div>
			        {/foreach}
				{/if}
	        </div>
		 </blockquote>
      </div>
    </div>
    
  

 
  

  
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="demo1">立即提交</button>
    </div>
  </div>
  <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-footer" style="margin-top:20px;display: flex;justify-content: center;align-items: flex-end;">
	{include file='../addons/wjyk_nhyk/application/admin/view/index/footer.html' /}
</div>
<script src="__PUBLIC__/static/layuiadmin/layui/layui.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/ueditor/ueditor.all.js"></script>
<script>
	layui.config({
	    base: '__PUBLIC__/static/layuiadmin/' //静态资源所在路径
	}).extend({
	    index: 'lib/index' //主入口模块
	    	, layarea: '../layui/layui_exts/city-picker/layarea'
	}).use(['jquery','layer', 'index', 'table','upload', 'layarea','layedit'], function(){
		var $ = layui.$
		, layer = layui.layer
		, layedit = layui.layedit
	    , table = layui.table
	    , form = layui.form
	    , layarea = layui.layarea
	    , upload = layui.upload;
		
		
		var allUpload =  $("button[id$='_upload']");
        allUpload.each(function(){
            var id = $(this).attr('id');
            upload.render({
                elem: '#'+id
                ,url: "{:siteUrl('admin/index/upload','','web')}" //改成您自己的上传接口
                ,done: function(res){
                    //如果上传失败
                    if(res.code < 0){
                        return layer.msg('上传失败');
                    }else{
                        $('#'+id+"_img").attr('src', res.msg); //图片链接（base64）
                        $('#'+id+"_log").val(res.msg);
                        
                    }
                }
            });
        });
		
        $('#ImgPreview img').on('click', function () {
            layer.photos({
                photos: '#ImgPreview',
                shadeClose: false,
                closeBtn: 2,
                anim: 0
            });
        })
        
        $('#ImgPreviewTemp img').on('click', function () {
            layer.photos({
                photos: '#ImgPreviewTemp',
                shadeClose: false,
                closeBtn: 2,
                anim: 0
            });
        })

        $('#ImgStore img').on('click', function () {
            layer.photos({
                photos: '#ImgStore',
                shadeClose: false,
                closeBtn: 2,
                anim: 0
            });
        })
        
        $('.upload_img').on('click',function () {
    		var url = $(this).attr('id');
    		$(this).parents('.image-container').remove();
    	});
        
  

        
    
      
      //监听提交
        form.on('submit(demo1)', function(data){
            var admin = layui.admin
            
            if($('.carousel').attr('value') == '' ||$('.carousel').attr('value') == null ){
            	layer.msg('图片为空',{icon: 2,time:3000});
            	return false;
            }

            admin.req({
                url:"{:siteUrl('admin/goods/set_system','','web')}",
                data:data.field,
                type:"POST",
                done:res=>{
                    if(res.code == 0 ){
                		layer.msg("设置成功");
                	}
                }
            })
            return false
  
        });
      
        upload.render({
            elem: '#test2'
           	,url: "{:siteUrl('admin/index/upload','','web')}" //改成您自己的上传接口
         	,multiple: true
            ,choose:function (obj) {
            	 var files = this.files = obj.pushFile();
               //预读本地文件示例，不支持ie8
             obj.preview(function(index, file, result){
                $('#ImgPreview').append('<div class="image-container" id="container'+index+'"><div class="delete-css"><button id="upload_img_'+index+'" class="layui-btn layui-btn-danger layui-btn-xs">删除</button></div>\n' +
                    '<img id="showImg'+index+'" style="width: 150px; margin:10px;cursor:pointer;" src="'+ result +'" alt="'+ file.name +'" ></div>');
                $("#upload_img_" + index).bind('click', function () {
                	delete files[index];
                    $("#container"+index).remove();
                });
             });
             }
             ,done: function(res){ //当文件全部被提交后，才触发
               $('#ImgPreview').append('<input value="'+ res.msg +'" name="carousel[]" class="carousel"  type="hidden">');
               delete this.files[index];
             }
          });
    	
    	
    	
    	upload.render({
            elem: '#test4'
           	,url: "{:siteUrl('admin/index/upload','','web')}" //改成您自己的上传接口
         	,multiple: true
            ,choose:function (obj) {
            	 var files = this.files = obj.pushFile();
               //预读本地文件示例，不支持ie8
             obj.preview(function(index, file, result){
                $('#ImgPreviewTemp').append('<div class="image-container" id="container'+index+'"><div class="delete-css"><button id="upload_img_'+index+'" class="layui-btn layui-btn-danger layui-btn-xs">删除</button></div>\n' +
                    '<img id="showImg'+index+'" style="width: 150px; margin:10px;cursor:pointer;" src="'+ result +'" alt="'+ file.name +'" ></div>');
                $("#upload_img_" + index).bind('click', function () {
                	delete files[index];
                    $("#container"+index).remove();
                });
             });
             }
             ,done: function(res){ //当文件全部被提交后，才触发
               $('#ImgPreviewTemp').append('<input value="'+ res.msg +'" name="cate_carousel[]" class="carousel"  type="hidden">');
               delete this.files[index];
             }
          });
      


        //表单取值
        layui.$('#LAY-component-form-getval').on('click', function(){
            var data = form.val('example');
            alert(JSON.stringify(data));
        });

    });
</script>
</body>
</html>
