<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>菜单栏编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/static/layuiadmin/style/admin.css" media="all">
    <style>
        form{
            padding-right:15px ;
        }
    </style>
</head>
<body>
<form class="layui-form" style="margin-top:21px;">
    <input type="hidden" name="id" value="{$srdb['id']}">


	


    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input type="text" name="meau_name" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input" value="{$srdb['meau_name']}">
        </div>
    </div>
    
    
    
    <div class="layui-form-item">
        <label class="layui-form-label">链接类型</label>
        <div class="layui-input-block">
             <select name="type" lay-filter="typeSelect" id="type_id">
		        <option value="1" {eq name="$srdb.type" value="1"} selected="" {/eq}>内部链接</option>
		       <option value="2" {eq name="$srdb.type" value="2"} selected="" {/eq}>外部h5</option>
		       <option value="3" {eq name="$srdb.type" value="3"} selected="" {/eq}>外部小程序</option>
	        </select>
        </div>
    </div>
    
    <div class="layui-form-item" id="nei" style="display:none;">
        <label class="layui-form-label">内部推荐链接</label>
        <div class="layui-input-block">
             <select name="type_temp" lay-filter="typeSelect_temp" >
		        <option value="/packages/index/myOrder/myOrder" {eq name="$srdb.meau_link" value="/packages/index/myOrder/myOrder"} selected="" {/eq}>全部订单</option>
		       <option value="/packages/Mall/integralMail/integralMail" {eq name="$srdb.meau_link" value="/packages/Mall/integralMail/integralMail"} selected="" {/eq} >积分商城</option>
		       <option value="/packages/index/my/editProfil" {eq name="$srdb.meau_link" value="/packages/index/my/editProfil"} selected="" {/eq}>编辑资料</option>
		        <option value="/packages/Mall/address/address" {eq name="$srdb.meau_link" value="/packages/Mall/address/address"} selected="" {/eq}>我的地址</option>
	        </select>
        </div>
    </div>
    
    
    <div class="layui-form-item" id="app" style="display: none;">
        <label class="layui-form-label">appid</label>
        <div class="layui-input-block">
            <input type="text" name="meal_app_id"  placeholder="" autocomplete="off" class="layui-input" value="{$srdb['meal_app_id']}">
        </div>
    </div>
    
    <div class="layui-form-item">
        <label class="layui-form-label">链接</label>
        <div class="layui-input-block">
            <input type="text" name="meau_link" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input" value="{$srdb['meau_link']}">
        </div>
    </div>
    
    <!--  <div class="layui-form-item">
        <label class="layui-form-label">参数(跳转链接参数)</label>
        <div class="layui-input-block">
            <input type="text" name="meau_params" placeholder="" autocomplete="off" class="layui-input" value="{$srdb['meau_params']}">
        </div>
    </div> -->
    
    <div class="layui-form-item">
        <label class="layui-form-label">排序值</label>
        <div class="layui-input-block">
            <input type="number" name="order" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input" value="{$srdb['order']}">
        </div>
    </div>
    

    
    
    <div class="layui-form-item" >
        <label class="layui-form-label">图标</label>
        <button type="button" class="layui-btn" id="icon_upload">上传图片</button>
        <div class="layui-form-mid layui-word-aux">图片建议尺寸96rpx * 96rpx，或者等比例图片</div>
        <div class="layui-input-block">
            <img class="layui-upload-img" id="icon_upload_img" style="margin-top: 10px;height: 96px;width: 96px" {if !empty($srdb['icon'])} src="{$srdb['icon']}" {/if} >
            <input type="hidden" name="icon" id="icon_upload_log"  class="icon"  {if !empty($srdb['icon'])} value="{$srdb['icon']}" {/if} >
        </div>
    </div>
    
 
    
  
 
   

    <div class="layui-form-item">
        <label class="layui-form-label">是否显示</label>
        <div class="layui-input-block">
        	<input type="radio" name="status" value="0" title="显示" {if $srdb['status'] == '0' || $srdb['status'] == ''}checked{/if}>
            <input type="radio" name="status" value="1" title="隐藏" {if $srdb['status'] == '1' }checked{/if}>
            
        </div>
    </div>
   

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="demo1">立即提交</button>
        </div>
    </div>



    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</form>
<script src="__PUBLIC__/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '__PUBLIC__/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index');

</script>
<script>
    layui.use(['jquery','form', 'laydate','upload','laydate'], function(){
        var $ = layui.$
            ,form = layui.form
            ,layer = layui.layer
            ,laydate = layui.laydate
            , upload = layui.upload;

        
        var allUpload =  $("button[id$='_upload']");
        allUpload.each(function(){
            var id = $(this).attr('id');
            upload.render({
                elem: '#'+id
                ,url: "{:siteUrl('admin/index/upload','','web')}" //改成您自己的上传接口
                ,done: function(res){
                    //如果上传失败
                    if(res.code < 0){
                        return layer.msg('上传失败');
                    }else{
                        $('#'+id+"_img").attr('src', res.msg); //图片链接（base64）
                        $('#'+id+"_log").val(res.msg);
                        
                    }
                }
            });
        });
        
        typeIdChange($("#type_id").val());
        
        form.on('select(typeSelect)', function(data) {
        	debugger;
        	typeIdChange(data.value);
            form.render('select');
        });
        
        form.on('select(typeSelect_temp)', function(data) {
        	$("input[name='meau_link']").val(data.value);
        	
            form.render('select');
        })
        
        function typeIdChange(value){
            if(value == 1){
            	$("#app").hide();
            	$("#nei").show();
            }else if(value == 2){
            	$("#app").attr("style","display: none");
            	$("#nei").attr("style","display: none");
            }else if(value == 3){
            	$("#app").removeAttr("style");
            	$("#nei").attr("style","display: none");
            }
        }
        

        //日期时间范围选择
        laydate.render({
            elem: '#test5'
            ,type: 'datetime'
            ,range: '~' //或 range: '~' 来自定义分割字符
        });


        upload.render({
            elem: '#test1'
            ,url: "{:siteUrl('admin/index/upload','','web')}" //改成您自己的上传接口
            ,done: function(res){
                //如果上传失败
                if(res.code < 0){
                    return layer.msg('上传失败');
                }else{
                    $('#demo1').attr('src', res.msg); //图片链接（base64）
                    $('#logo').val(res.msg);
                }
            }
        });
        
        //监听提交
        form.on('submit(demo1)', function(data){
            var admin = layui.admin

            $.ajax({
                url:"{:siteUrl('admin/meau/edit_link','','web')}",
                data:data.field,
                type:"POST",
                success: function(data){
                    var res = JSON.parse(data);
                    if(res.code == 0 ){
                        layer.msg(res.msg,{icon: 1,time:3000},function(){
                            window.parent.location.reload()//刷新父页面
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                        });

                    }else{
                        layer.msg(res.msg,{icon: 2,time:3000},function(){
                            window.parent.location.reload()//刷新父页面
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                        });
                    }
                }
            })
            return false

        });
        $("#return").click(function(){
            window.parent.location.reload()//刷新父页面
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        });

        //表单取值
        layui.$('#LAY-component-form-getval').on('click', function(){
            var data = form.val('example');
            alert(JSON.stringify(data));
        });

    });
</script>
</body>
</html>